body {
    font-size: 16px;
    padding-bottom: 30px;

    small {
        font-size: 80%;
    }

    .logo {
        margin-left: 24rem !important;
    }

    .smallest {
        font-size: 9px;
    }

    .stats {
        font-size: 12px;
    }

    .url {
        font-size: 13px;
    }
}

